<footer class="w-full h-[90px]">
        {{#isHome}}
            <a
                    href="/user"
                    id="start_btn"
                    data-dialog-target="modal"
                    class="mt-8 mx-auto max-w-[475px] w-full py-3 rounded-5xl bg-black hover:bg-sig-color text-white flex items-center justify-center gap-2 fixed absolute bottom-0 right-0 left-0"
                    aria-label="시작하기"
            >
                시작하기
            </a>
    {{/isHome}}
        {{#isUsers}}
            <button
                    id="users-create-btn"
                    type="button"
                    class="mx-auto max-w-[475px] w-full py-3 rounded-5xl bg-black hover:bg-sig-color text-white flex items-center justify-center gap-2 fixed bottom-0 left-0 right-0"
            >
                다음
            </button>
            {{/isUsers}}
<!--    {{#isChoice}}-->
    {{#selectedMenu}}
        <form action="/choice/decide" method="post">
            <button
                    id="start-diagnosis-btn"
                    data-selected="{{selectedMenu}}"
                    type="button"
                    class="mx-auto max-w-[475px] w-full py-3 rounded-5xl bg-black hover:bg-sig-color text-white flex items-center justify-center gap-2 fixed bottom-0 left-0 right-0"
            >
                나의 일일 탄단지 섭취량 확인하기

            </button>
        </form>
    {{/selectedMenu}}
<!--    {{/isChoice}}-->

<!--    {{#isCheck}}-->
<!--    {{/isCheck}}-->

</footer>