<footer class="w-full h-[90px]">
    <div class="mx-auto max-w-[475px] flex justify-center h-[100%] items-center gap-1">

    {{#isHome}}
        <button class="bg-black rounded-full text-white font-bold py-2 px-4 rounded">홈</button>
        <button class="text-gray-400 rounded-full border border-dotted border-gray-500 py-2 px-4 rounded">선택</button>
        <button class="text-gray-400 rounded-full border border-dotted border-gray-500 py-2 px-4 rounded">체크</button>
        <button class="text-gray-400 rounded-full border border-dotted border-gray-500 py-2 px-4 rounded">결과</button>
        <button class="text-gray-400 rounded-full border border-dotted border-gray-500 py-2 px-4 rounded">나침반</button>
    {{/isHome}}
    {{#isChoice}}
        <button class="text-black rounded-full border border-solid border-black py-2 px-4 rounded">홈</button>
        <button class="bg-black rounded-full text-white font-bold py-2 px-4 rounded">선택</button>
        <button class="text-gray-400 rounded-full border border-dotted border-gray-500 py-2 px-4 rounded">체크</button>
        <button class="text-gray-400 rounded-full border border-dotted border-gray-500 py-2 px-4 rounded">결과</button>
        <button class="text-gray-400 rounded-full border border-dotted border-gray-500 py-2 px-4 rounded">나침반</button>
    {{/isChoice}}

    </div>
</footer>