<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link href="/main.css" rel="stylesheet">
</head>
<body class="font-['GMarketSans-heavy'] mt-[10%]">
{{>layouts/header}}
<main class="max-w-[475px] mx-auto px-4 pt-4">
    <section aria-label="홈 메인">
        <div class="px-2 py-6">
            <h2 class="text-[32px] leading-tight text-sig-color">
                올바른 식습관<br>바른 방향으로 자리잡자
            </h2>
            <div class="mt-3 text-lg text-gray-900 space-y-1 font-['GMarketSans-light']">
                <div>부족한 영양분은 채우고</div>
                <div>과도한 영양분은 줄이고</div>
                <div class="inline-flex items-center gap-2 mt-1">
                    <span class="px-3 py-1 rounded-full bg-[#2042FF] text-white text-xs font-semibold shadow-sm">Hompass</span>
                </div>
            </div>
        </div>







    </section>
</main>
{{>layouts/footer}}
</body>

</html>