<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자가진단 체크 페이지</title>

    <link href="/main.css" rel="stylesheet">

</head>
<body class="font-['Freesentation-9Black'] mt-[10%]">
{{>layouts/header}}
<main class="max-w-[475px] mx-auto px-4 pt-4 pb-28">
    <h2>하이</h2>
</main>
{{>layouts/footer}}
</body>


</html>