<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>하루 필요 칼로리 계산</title>

    <link href="/main.css" rel="stylesheet">

</head>
<body class="font-['Freesentation-9Black'] mt-[10%]">
{{>layouts/header}}

<main class="max-w-[475px] mx-auto px-4 pt-4 pb-28">

<form>
    <h2 class="text-[24px] leading-tight">하루 필요 칼로리 계산</h2>
    <div class='flex flex-col mt-6'>
        <span>몸무게(kg)</span>
        <input class="border border-gray-200 w-full" type="text" id="new-users-kg"  />
        <span>키(cm)</span>
        <input class="border border-gray-200 w-full" type="text" id="new-users-cm"/>
        <span>성별</span>
        <select id="new-users-man_woman" class="border border-gray-200">
            <option value="남자">남자</option>
            <option value="여자">여자</option>
        </select>
        <div class="mt-6">
            <h2 class="text-[16px] leading-tight">평소 활동량을 알려주세요</h2>
            <div>
                <input type="radio"  name="activity_level" id="new-users-activity_level1" value="1.20" checked />
                <label for="new-users-activity_level1">운동 거의 안함</label>
            </div>

            <div>
                <input type="radio"  name="activity_level"  id="new-users-activity_level2" value="1.375" />
                <label for="new-users-activity_level2">가벼운 활동(주 1-3회 , 30-45분, 가벼운 유산소/근지구력)</label>

            </div>

            <div>
                <input type="radio"  name="activity_level" id="new-users-activity_level3" value="1.55" />
                <label for="new-users-activity_level3">보통 활동(주 3-5회, 45-60분, 중강도)</label>
            </div>

            <div>
                <input type="radio"  name="activity_level" id="new-users-activity_level4" value="1.725" />
                <label for="new-users-activity_level4">높은 활동(주 6-7회, 60분+, 고강도)</label>
            </div>

            <div>
                <input type="radio"  name="activity_level" id="new-users-activity_level5" value="1.90" />
                <label for="new-users-activity_level5">매우 높은 활동(육체노동 / 운동선수)</label>
            </div>
            <div>


            </div>

        </div>

        <button
                id="users-create-btn"
                class="mt-8 w-full py-3 rounded-2xl bg-black hover:bg-sig-color text-white flex items-center justify-center gap-2"
        >
            다음
        </button>

    </div>
</form>
</main>


{{>layouts/footer}}


</body>


<script>
    const $form = document.querySelector('form');
        $form.addEventListener("submit", (event) => {
    // 동작(이벤트)을 실행하지 못하게 막는 메서드입니다.
        event.preventDefault();
    });

    // 유저 생성 버튼
    const usersCreateBtn = document.querySelector("#users-create-btn");



    usersCreateBtn.addEventListener("click", () => {
    const Radiobuttons = document.querySelectorAll('input[type="radio"]');

    Radiobuttons.forEach((el) => {
         if(el.checked) {
            console.log(el.value);
         }
    });
        // 새 유저 객체 생성
        const users = {
            kg: document.querySelector("#new-users-kg").value,
            cm: document.querySelector("#new-users-cm").value,
            man_woman : document.querySelector("#new-users-man_woman").value,
            activity_level : ""
         };
        console.log(users);

<!--        // fetch() - 비동기 통신을 위한 API-->
<!--        const url = "/api/user";-->
<!--        fetch(url, {-->
<!--            method: "POST",-->
<!--            headers: {-->
<!--                "Content-Type": "application/json"-->
<!--            },-->
<!--            body: JSON.stringify(users)-->
<!--        })-->

        console.log("등록완료");
    });



</script>

</html>